@import 'variables';

body {
  @include row-flex;
  background: 6C6685;
  margin: 0;
  padding: 0;
}

header {
  @include column-flex;
}

.main-page{
  @include column-flex;
  flex: 1;
}

.login-box{
  @include column-flex;
    width: 200px; 
    height: 200px;
    border: 2px solid black;
}

.user-sidebar {
  @include column-flex;
  height: 100vh;
  flex-basis: 25%;
  background-color: lightblue;
}

.room-types{
  @include column-flex;
  align-items: flex-start; 
  justify-content: flex-start; 
}

.user-dashboard,
.avail-rooms-dashboard {
  @include column-flex;
  height: 100vh;
  flex-basis: 75%;
} 

.user-booking, 
.available-room {
  @include column-flex;
  width: 400px;
  height: 200px;
  font-size: 15px;
  margin: 15px; 
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.available-room {
  background-color: lightcyan;
  font-weight: bold;
}

.available-room .book-room {
  margin-top: auto;
  padding: 8px 16px; 
}

.hidden {
  display: none;
}

.error-message {
  color: maroon;
  border: 2px solid red;
}