@import 'variables';

body {
  @include column-flex;
  background: 6C6685
}

header {
  @include column-flex;
}

.login-box{
  @include column-flex;
    width: 200px; 
    height: 200px;
    border: 2px solid black;
}

.hidden {
  display: none;
}

.error-message {
  color: maroon;
  border: 2px solid red;
}