@import 'variables';

body {
  @include row-flex;
  background: 6C6685;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  @include column-flex;
  font-size: 36px;
  margin: 15px;
  padding: 15px;
}

.subheader {
  font-size: 24px;
}

.main-page{
  @include column-flex;
  flex: 1;
}

.login-box{
  @include column-flex;
    width: 200px; 
    height: 200px;
    border: 2px solid black;
    padding: 20px
}

.sign-in{
  @include column-flex;
  padding: 20px;
}

.homescreen-side-image {
  @include row-flex;
  width: 40%;
  height: auto;
  height: 100vh;
  border-right: 2px solid black;
}

.user-sidebar {
  @include column-flex;
  height: 100vh;
  flex-basis: 25%;
  background-color: lightblue;
}

.event-section{
  @include column-flex
}

.points-description {
  margin-bottom: 15px;
}

.search-status-box {
  font-weight: bold;
  background-color: #C24E77
}

.room-types{
  @include column-flex;
  align-items: flex-start; 
  justify-content: flex-start; 
}

.user-dashboard,
.avail-rooms-dashboard {
  @include column-flex;
  height: 100;
  flex-basis: 75%;
} 

.user-booking, 
.available-room {
  @include column-flex;
  width: 400px;
  height: 200px;
  font-size: 20px;
  margin: 15px; 
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.available-room {
  background-color: lightcyan;
  font-weight: bold;
}

.available-room .book-room {
  margin-top: auto;
  padding: 8px 16px; 
}

.hidden {
  display: none;
}